@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

// reset and typography
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


// classes
.hide {
  display: none !important;
}
.border-error {
  border: 2px solid #FF7979 !important;
}


// body
body {
  background: #FF7979;
  background-image: url(../images/bg-intro-mobile.png);
  // desktop 
  @media (min-width: 1200px) {
    background-image: url(../images/bg-intro-desktop.png);
    background-position: top;
    background-repeat: no-repeat;
  }
  // desktop xl
  @media (min-width: 1200px) {
    background-repeat: repeat;
  }
}


// main
main {
  width: 327px;
  margin: 88px auto 68px auto;
  display: flex;
  flex-direction: column;
  gap: 64px;
  // destop
  @media (min-width: 1200px) {
    width: 1110px;
    margin: 121px auto 110px auto;
    flex-direction: row;
    gap: 45px;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  // destop
  @media (min-width: 1200px) {
    width: 525px;
    gap: 28px;
    text-align: left;
    justify-content: center;
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.291667px;
    color: #FFFFFF;
    // destop
    @media (min-width: 1200px) {
      font-size: 50px;
      line-height: 55px;
      letter-spacing: -0.520833px;
      margin-top: 5px;
    }
  }
  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
  }
}


// form
.form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .price {
    padding: 17px 66px;
    background: #5E54A4;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
    border-radius: 10px;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.267857px;
    color: #FFFFFF;
    // destop
    @media (min-width: 1200px) {
      width: 540px;
    }
    span {
      font-weight: 700;
    }
  }

  form {
    padding: 8px 24px 24px 24px;
    background: #FFFFFF;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
    border-radius: 10px;
    // destop
    @media (min-width: 1200px) {
      width: 540px;
      padding: 20px 40px 40px 40px;
    }

    .input {
      width: 279px;
      margin-top: 16px;
      padding: 15px 0 15px 19.41px;
      border: 1px solid #DEDEDE;
      border-radius: 5px;
      font-weight: 600;
      font-size: 14px;
      line-height: 26px;
      letter-spacing: 0.25px;
      color: #3D3B48;
      position: relative;
      // destop
      @media (min-width: 1200px) {
        width: 460px;
        margin-top: 20px;
        padding: 15px 0 13px 32px;
      }
      &:focus-visible {
        outline: none;
        border: 1px solid #5E54A4;
        caret-color: #5E54A4;
      }
    }
    .submit {
      text-transform: uppercase;
      text-align: center;
      width: 279px;
      margin-top: 16px;
      border: none;
      background: #38CC8B;
      box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
      border-radius: 5px;
      font-weight: 600;
      font-size: 15px;
      line-height: 26px;
      letter-spacing: 1px;
      color: #FFFFFF;
      padding: 14px 0;
      cursor: pointer;
      // destop
      @media (min-width: 1200px) {
        width: 460px;
        padding: 15px 0;
        margin: 20px 0 4px 0;
      }
      &:hover {
        background: #77E2B3;
        transition: .4s;
      }
    }
  }
  &__text {
    margin-top: 8px;
    font-weight: 500;
    font-size: 11px;
    line-height: 21px;
    text-align: center;
    color: #BAB7D4;
    span {
      color: #FF7979;
      font-weight: 700;
    }
  }

  .error {
    font-style: italic;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    text-align: right;
    color: #FF7979;
    margin-top: 6px;
  }
  .input-camp {
    position: relative;
  }
  .error-img {
    position: absolute;
    top: 33px;
    right: 27px;
    // destop
    @media (min-width: 1200px) {
      top: 37px;
    }
  }
}


// footer
.attribution {
  font-size: 11px;
  text-align: center;
  a {
    color:  #fff;
  }
}