@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

// reset and typography
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
}


// classes
.title {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.313rem;
  letter-spacing: -0.014rem;
  color: #FFFFFF;
}
.text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
  letter-spacing: -0.013rem;
  color: #FFFFFF;
}


// body
body {
  background: #E6EFF5;
}


// component
.card {
  margin: 4.5rem auto 3.875rem auto;
  width: 19.438rem;
  background: #FFFFFF;
  box-shadow: 0px 15px 30px rgba(0, 81, 171, 0.148847);
  border-radius: 0.313rem;
  // tablet
  @media screen and (min-width: 768px) {
    margin: 10.188rem auto 9rem auto;
    width: 39.688rem;
    border-radius: 0.5rem;
  }

  .top {
    display: flex;
    flex-direction: column;
    padding: 1.75rem 1.5rem 2rem 1.5rem;
    // tablet
    @media screen and (min-width: 768px) {
      padding: 2.5rem;
    }
    &__title {
      font-weight: 700;
      font-size: 1.25rem;
      line-height: 1.438rem;
      letter-spacing: -0.016rem;
      color: #2AB3B1;
      // tablet
      @media screen and (min-width: 768px) {
        font-size: 1.5rem;
        line-height: 1.75rem;
        letter-spacing: -0.019rem;
      }
    }
    &__subtitle {
      margin-top: 1.5rem;
      font-weight: 700;
      font-size: 0.938rem;
      line-height: 1.25rem;
      letter-spacing: -0.012rem;
      color: #C0DF33;
      // tablet
      @media screen and (min-width: 768px) {
        font-size: 1.125rem;
        line-height: 1.313rem;
        letter-spacing: -0.014rem;
      }
    }
    &__text {
      margin-top: 1rem;
      font-weight: 400;
      font-size: .875rem;
      line-height: 1.563rem;
      letter-spacing: -0.011rem;
      color: #9AA7BE;
      // tablet
      @media screen and (min-width: 768px) {
        margin-top: 0.688rem;
        font-size: 1rem;
        line-height: 1.625rem;
        letter-spacing: -0.013rem;
      }
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    background: #2AB3B1;
    border-radius: 0 0 .313rem .313rem;
    // tablet
    @media screen and (min-width: 768px) {
      flex-direction: row;
      border-radius: 0 0 .5rem .5rem;
      max-height: 16.188rem;
    }
    .left {
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      // tablet
      @media screen and (min-width: 768px) {
        padding: 2.5rem;
        width: 50%;
      }
      &__price {
        margin-top: 1.125rem;
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.313rem;
        letter-spacing: -0.025rem;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        span {
          margin-left: 0.688rem;
          opacity: 0.5;
        }
      }
      &__text {
        margin-top: 0.25rem;
      }
      &__btn {
        margin-top: 1.625rem;
        background: #C0DF33;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.0973011);
        border-radius: 0.313rem;
        line-height: 1.188rem;
        border: none;
        height: 3rem;
        &:hover {
          cursor: pointer;
          opacity: .9;
          transition: .2s;
        }
      }
    }

    .right-background {
      height: 14.188rem;
      background-color: #FFFFFF;
      opacity: 0.15;
      margin-bottom: -14.188rem;
      // tablet
      @media screen and (min-width: 768px) {
        height: 16.188rem;
        width: 50%;
        margin: 0 -50% 0 0;
      }
    }
    .right {
      position: relative;
      padding: 1.5rem;
      height: 14.188rem;
      // tablet
      @media screen and (min-width: 768px) {
        height: 16.188rem;
        width: 50%;
        padding: 2.5rem;
      }
      &__text {
        margin-top: 1.125rem;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.25rem;
        letter-spacing: -0.011rem;
        color: #FFFFFF;
        opacity: 0.75;
      }
    }
  }
}


// footer
.attribution {
  font-size: 0.688rem;
  text-align: center;
  a {
    font-size: 0.688rem;
    color: #2AB3B1;
  }
}